.title {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  width: 100%;
  color: #fff;
  padding: 10px 0;
  font-size: 1.4rem;
  margin-top: 20px;
  background-color: #000;
}
